# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
dist/
build/
*.spec

# Pytest
.cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Logs
*.log

# Model and output files
*.pt
*.pth
*.ckpt
model_output/
checkpoints/
